*{
  background-color: bisque;
}

div, button {
  padding: 5px 10px;
  margin: 5px 0px;
}

p {
  font-size: large;
}

button {
  border: peru;
  border-radius: 25%;
}

.heading{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(128, 34, 0, 0.863);
}


.body{
  font-family: 'Courier New', Courier, monospace;
}

.img {
  width: 15%;
  height: 15%;
}

.light-theme {
  background-color: burlywood;
  color: rgb(52, 11, 11);
}

.dark-theme {
  background-color: rgb(52,11,11);
  color: burlywood;
}